@use "./common.scss";
@use "./lighting_control-b1-area1.scss";

#add_item {
    position: fixed;
    bottom: 5%;

    button {
        @include common.default-button;
        font-size: 2.5rem;
        width: 90%;
        margin: 0 auto;
        padding: 2.5% 0;
    }
}

#item_setting {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 50%;
    top: 25%;
    background: #fff;

    >* {
        height: 20%;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin: 5% 0;

        >* {
            margin: auto;
        }

        button {
            @include common.default-button;
            height: 100%;
            width: 35%;
            font-size: 2rem;
        }
    }

    >button {
        margin-left: auto;
        margin-right: 5%;
        position: relative;
    }

    visibility: hidden;

    .time_list {
        background: red;
        list-style: none;
        position: relative;
        width: 100%;
        visibility: hidden;

        div {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 35vh;
            overflow: hidden;
            overflow-y: scroll;

            li {
                background: common.$default-border-color;
                margin: 1%;
                padding: 5%;

                &:active {
                    color: aqua;
                }
            }
        }
    }
}

#items {
    display: flex;
    flex-direction: column;
    margin-top: 10%;

    >* {
        background: common.$default-button-background-color;
        font-size: 2rem;
        width: 70%;
        justify-content: center;
        margin: 5% auto;
        padding: 5% 10%;

        &:focus {
            background: red;
        }
    }

}