@use "./common.scss";
@use "./lighting_control-b1.scss";

body {
    #switches {
        display: flex;
        flex-direction: column;
        margin-top: 10%;

        button {
            @include common.default-button;
            height: 100px;
            width: 50%;
            margin: 7%;
            font-size: 2rem;
        }
    }
}